<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<meta charset="UTF-8">
	<title>board</title>
	<link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>
    <div class="container">
    	<h2>게시글 목록</h2>
    	<div sec:authorize="!isAuthenticated()"><!-- 로그인 안됬을때 -->
    		<a href="/login" class="btn">로그인</a>
    		<a href="/user/openAgreement" class="btn">회원가입</a>
    	</div>
    	<div sec:authorize="isAuthenticated()">
    		<a href="/logout" class="btn">로그아웃</a>
    	</div>
    	<table class="board_list">
	        <colgroup>
	            <col width="10%"/>
	            <col width="*"/>
	            <col width="15%"/>
	            <col width="15%"/>
	            <col width="20%"/>
	        </colgroup>
	        <thead>
	            <tr>
	                <th scope="col">글번호</th>
	                <th scope="col">제목</th>
	                <th scope="col">조회수</th>
	                <th scope="col">작성자</th>
	                <th scope="col">작성일</th>
	            </tr>
	        </thead>
	        <tbody>
	        	<!-- lists : thymeleaf에서 쓰는 예약어 같은 것. list가 controller에서 보낸 값. -->
	        	<tr th:if="${#lists.size(list)} > 0" th:each="list : ${list}">
	        		<td th:text="${list.boardIdx}"></td>
	        		<!-- 여기 -->
	        		<td class="title"><a href="/jpa/board/" th:attrappend="href=${list.boardIdx}" th:text="${list.title}"></a></td>
	        		<td th:text="${list.hitCnt}"></td>
	        		<td th:text="${list.creatorId}"></td>
	        		<td th:text="${list.createdDatetime}"></td>
	        	</tr> 
	        	<tr th:unless="${#lists.size(list)} > 0">
	        		<td colspan="4">조회된 결과가 없습니다.</td>
	        	</tr>
	        </tbody>
	    </table>
	    <!-- 여기 -->
	    <div sec:authorize="isAuthenticated()">
	    	<a href="/jpa/board/write" class="btn">글 쓰기</a>
	    </div>
    </div>
</body>
</html>